# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Training outputs
results/
checkpoint-*/
AI_Chatbot/model/results/
AI_Chatbot/model/checkpoint-*/
AI_Chatbot/model/model/
AI_Chatbot/model/intent_model/

# VS Code
.vscode/